.sidebar {
  /* width: 88px; COLLAPSED WIDTH*/
  width: 300px;
  display: inline-block;
  background-color: var(--color-grey-900);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}