* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg-beige: #f8f4f0;
  --secondary-bg-beige: #98908b;
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-grey-300: #b3b3b3;
  --color-grey-100: #f2f2f2;
  --color-p-white: #fff;

  --color-dark-green: #277c78;
  --color-cyan: #82c9d7;
  --color-yellow: #f2cdac;
  --color-navy: #626070;

  --font-bold: 700;
  --font-regular: 400;

  font-family: "Public Sans", serif;
}

/* html,
body {
  overflow-x: hidden;
} */

body {
  overscroll-behavior: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.page-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  flex: 1;
  height: auto;
  /* width: calc(100vw - 57.836px);  */
  /* width: calc(100vw - 300px); */
  /* max-width: calc(100vw - 57.836px); */
  box-sizing: border-box; /* Includes padding in the width */
  background-color: var(--primary-bg-beige);
  overflow: scroll;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 40px;
  width: 100%;
  height: auto;
  position: relative;
}

@media (max-width: 1438px) {
  .page-container {
    display: flex;
    flex-direction: column;
  }

  main {
    min-height: 1849px;
  }
}
