.transactions-title {
  width: 100%;
  max-width: 1060px;
  height: 56px;
  font-size: 32px;
  line-height: 120%;
  padding: 8px 0px;
  text-align: left;
  font-weight: var(--font-bold);
}

.transactions-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 983px;
  padding: 32px;
  border-radius: 12px;
  background-color: var(--color-p-white);
  box-shadow: 0px 4px 24px 0 #d6d6d658;
}

.transactions-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}

.transactions-menu .searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 320px;
  width: 30.19%;
  height: 45px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--secondary-bg-beige);
}

.transactions-menu .searchbar input {
  width: 248px;
  height: 21px;
  color: var(--secondary-bg-beige);
  border: none;
  outline: none;
}

.filters-container {
  display: flex;
  gap: 24px;
  width: 439px;
  width: 44.12%;
  height: 45px;
}

.transactions_sort-by {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 170px;
  height: 45px;
}

.transactions_sort-by p {
  width: 48px;
  height: 21px;
  color: var(--color-grey-500);
  font-size: 14px;
  line-height: 150%;
}

.transactions_sort-by select {
  display: flex;
  width: 113px;
  height: 45px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--secondary-bg-beige);
  color: var(--color-grey-900);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  -moz-appearance: none; /*Remove the default DD arrow*/

  /* for Safari, Chrome, Opera */
  -webkit-appearance: none; /*Remove the default DD arrow*/
}

.transactions_sort-by select::-ms-expand {
  /*Remove the default DD arrow in Firefox*/
  display: none;
}

.transactions_categories {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 245px;
  height: 45px;
}

.transactions_categories p {
  width: 60px;
  height: 21px;
  color: var(--color-grey-500);
  font-size: 14px;
  line-height: 150%;
}

.transactions_categories select {
  display: flex;
  gap: 4px;
  width: 177px;
  height: 45px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--secondary-bg-beige);
  color: var(--color-grey-900);
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  -moz-appearance: none; /*Remove the default DD arrow*/

  /* for Safari, Chrome, Opera */
  -webkit-appearance: none; /*Remove the default DD arrow*/
}

.transactions_categories select::-ms-expand {
  /*Remove the default DD arrow in Firefox*/
  display: none;
}

/* TABLE HEADER */
/* TODO -- convert widths fron px to % for responsiveness */
.transactions_table-header {
  display: flex;
  gap: 32px;
  /* width: 996px; */
  width: 100%;
  height: 42px;
  padding: 12px 16px;
  border-bottom: 1px solid var(--color-grey-100);
}

.transactions_table-header p:first-child {
  width: 428px;
  height: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-grey-500);
}

.transactions_table-header p:nth-child(2) {
  width: 120px;
  height: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-grey-500);
}

.transactions_table-header p:nth-child(3) {
  width: 120px;
  height: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-grey-500);
}

.transactions_table-header p:nth-child(4) {
  width: 200px;
  height: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: right;
  color: var(--color-grey-500);
}

/* TRANSACTIONS TABLE */
/* TODO -- convert widths fron px to % for responsiveness */
.transactions_table {
  /* width: 996px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 696px;
  border: 1px solid red;
}

.transactions_table--transaction {
  display: flex;
  align-items: center;
  gap: 32px;
  /* width: 996px; */
  width: 100%;
  height: 40px;
  padding: 16px;
}

/* .transactions_table--transaction:nth-child(1) {
  background-color: blue;
} */

.transaction_table--horizontal-line {
  /* width: 996px; */
  width: 100%;
  height: 1px;
  background-color: var(--color-grey-100);
  border: none;
}

.recipient_sender {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 428px;
  height: 40px;
}

.recipient_sender img {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
}

.recipient_sender p {
  width: 121px;
  height: 21px;
  font-size: 14px;
  font-weight: var(--font-bold);
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--color-grey-900);
}

.transactions_category {
  width: 120px;
  height: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-grey-500);
}

.transaction_date {
  width: 120px;
  height: 18px;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-grey-500);
}

.transaction_amount {
  width: 200px;
  height: 21px;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  text-align: right;
  color: var();
}

.transactions_table--navigation {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 64px;
}

.transactions_nav--button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 40px;
  padding: 16px;
  border: 1px solid var(--secondary-bg-beige);
  border-radius: 8px;
}

.transactions_nav--button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 30px;
  height: 21px;
  padding: 0px;
  background-color: var(--color-p-white);
  font-size: 14px;
  line-height: 150%;
}

.transactions_nav--button-container button span {
}

.transaction_nav--pages {
  display: flex;
  gap: 8px;
  width: 232px;
  height: 40px;
  border: 1px solid red;
}

.transaction_nav--pages button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 16px;
  color: var(--color-grey-900);
  background-color: var(--color-p-white);
  border: 2px solid var(--secondary-bg-beige);
  border-radius: 8px;
  font-weight: 14px;
  line-height: 150%;
}

.transaction_nav--pages button:hover {
  color: var(--color-p-white);
  background-color: var(--color-grey-900);
  border: 2px solid var(--color-grey-900);
}
